* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    height: 100%;
	width: 100%;
	background-color: #e5e5e5;
	overflow-x: hidden;
	overflow-y: auto;
}

#container{
	height: 100%;
	width: 100%;
}

#headContainer {
    background-color: black;
    width:100%;
	display: flex;
	flex-direction: row;
    padding-top: 10px;
}

nav {
    padding-top: 14px;
    margin-left: 580px;
    
}

nav li{
	margin-top: 10px;
}

nav ul li{
    list-style: none; 
    display: inline-block; /*displays list in horizontal*/
} 

nav ul li.active a, nav ul li a:hover, nav ul li a:focus{
    color:#008131;
}

/* styles the link part of the list (menu bar) */
nav ul li a{
	text-decoration: none; /*Removes underline in link*/
	padding: 0 10px 0px 30px; /*space between list elements*/
	color: white;
    font-size: larger;
}

#content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
	width            :100%;
    padding-top      : 10px;
    background-color : black;
}

#col-1{
    margin-top: -65px;
    margin-left: -60px;
}

#col-1-pic{
    width: 650px;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 h1 {
    font-size: 50px;
    margin: 25px 0;
    color: #b8b8b8;
    font-family: 'Times New Roman', Times, serif;
}

.btn {
    display: inline-block;
    background: #ff523b;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #aa2d1d;
    color: #ffff;
}

.col-2 a, a.btn {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}

/*----------Offer---------*/
.offer {
    background: radial-gradient(rgba(255, 255, 255, 0.89), #979797);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.c2 p {
    font-weight: bolder;

}

.c1 .offer-img1 {
    padding: 50px;
    width: 450px;
}

small {
    color: #555;
    font-size: 15px;
}

h2.price {
    margin-top: 20px;
    margin-left: 10px;
    color: rgb(101, 101, 197);
}

.c2 h1 {
    font-size: 50px;
    margin: 25px 0;
    color: rgb(73, 73, 73);
    font-family: 'Times New Roman', Times, serif;
}

.c2 a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}

.c2 {
    flex-basis: 50%;
    min-width: 300px;
}

/* features products */

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 60px;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4 {
    flex-basis: 50%;
    padding: 30px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img {
    border-radius: 60px;
}
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

h4 {
    color: #555;
    font-weight: bolder;
    margin-left: 100px;
}

.col-4 p {
    font-size: 18px;
    margin-left: 100px;
}

.rating {
    margin-left: 100px;
}

.rating .fa {
    color: #ff523b;
}

.col-4:hover {
    transform: translateY(-10px);
}

.col-4 a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
    margin-left: 100px;
}

/* about section */

.left {
    padding: 0px 100px 0px 100px;
    margin-top: -30px;
}

.left p{
    font-size: larger;
    color: #555;
    text-align: justify ;
}

.content1 {
    padding: 100px 0px 100px 0px;
}

/* contact section */

.contact {
    background: #ccc;
    padding: 20px 0px 50px 0px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: rgb(172, 170, 170);
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
      width: 100%;
  }

  input[type=submit]:hover {
    background-color: rgb(165, 164, 164);
  }
  
  .login-form {
    border-radius: 5px;
    background-color: #ccc;
    padding: 0px 100px 50px 100px;
  }
/* styling for footer */

footer {
    display: flex;
	flex-direction: column;
    justify-content: center;
	width:100%;
    padding-bottom : 40px;
    padding-top: 40px;
    background-color :#949393;
}


.quicknavigation {
    text-align: center;
}

.quicknavigation ul li a {
    text-decoration: none; /*Removes underline in link*/
	padding: 0 20px 0px 30px;
	color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.quicknavigation ul li{
    list-style: none; 
    display: inline-block; /*displays list in horizontal*/
    padding-top: 20px;
    padding-bottom: 10px;
}
    
.quicknavigation ul li.active a, .quicknavigation ul li a:hover, .quicknavigation ul li a:focus{
    color:aquamarine;
}

.row-icon {
	text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

ul.col1-icon li{
    list-style: none; 
    display: inline-block; /*displays icon in horizontal*/
	border-right:none;
	padding:5px;
}

ul.col1-icon li a{
	border:1px solid white;
	border-radius:50%;
	padding:5px 9px 5px 9px;
} 

.fa-facebook {
	color:white;
}

.fa-instagram{
	color:white;
}

.fa-twitter{
	color:white;
}

hr.hrline-buttom{
    height: 1px;
    background-color: #b4b4b4;
    border: none;
}

.copy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

#logofootpic {
    width: 50px;
}

#logofoot {
    display: flex;
	flex-direction: row;
    justify-content: center;
}
#copyright {
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 15px ;
}

